<div class="container d-flex align-items-center">
    <div class="row w-100 justify-content-center align-items-center">

        <!-- Logo -->
        <div class="col-md-5 text-center">
            <img src="assets/img/logo.jpg" alt="Logo" class="img-fluid img-logo">
        </div>

        <!-- Text content -->
        <div class="col-md-7 text-white">
            <h2 class="display-5">Hola, me llamo</h2>
            <h1 class="display-3">Agustín</h1>
            <h2 class="display-4 mb-4">Soy.. <a href="https://git.io/typing-svg">
                    <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&size=56&pause=1000&color=3F89F4&vCenter=true&width=435&lines=Desarrollador+;Full+Stack;Developer;Programador"
                        alt="Typing SVG" /></a></h2>
            <p class="lead">Desarrollador de Software. Siempre he amado programar y busco constantemente mejorar. Me
                considero creativo, adaptable y eficiente en la gestión del tiempo y los detalles. Mi enfoque está en
                resolver problemas con pensamiento crítico.</p>

            <!-- Social Icons -->
            <div class="social-icons mt-4">
                <a href="#" class="me-4 text-white"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#" class="me-4 text-white"><i class="fa-brands fa-github"></i></a>
                <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

    </div>
</div>
