<div class="container d-flex align-items-center">
    <div class="row w-10 justify-content-center align-items-center text-center text-md-start">

        <!-- Logo -->
        <div class="col-10 col-md-5 mt-3 mb-md-0">
            <img src="assets/img/logo.jpg" alt="Logo" class="img-fluid img-logo mx-auto d-block d-md-inline-block">
        </div>

        <!-- Text content -->
        <div class="col-12 col-md-7 text-white">
            <h2 class="display-6 display-md-5">Hola, me llamo</h2>
            <h1 class="display-4 display-md-3">Agustín</h1>
            <h2 class="display-6 display-md-4 mb-2 mb-md-3">Soy..
            <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&size=36&pause=1000&color=3F89F4&vCenter=true&width=280&lines=Desarrollador+;Full+Stack;Developer;Programador" alt="Typing SVG" class="img-fluid"/>    
            </h2>
            <p class="lead">Siempre he amado programar y busco constantemente mejorar. Me
                considero creativo, adaptable y eficiente en la gestión del tiempo y los detalles. Mi enfoque está en
                resolver problemas con pensamiento crítico.
            </p>

            <!-- Social Icons -->
            <div class="social-icons my-4">
                <a href="https://www.linkedin.com/in/agustin-coria-576848238/" target="_blank"  class="me-4 text-white fs-4"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/AgustinLC" target="_blank" class="me-4 text-white fs-4"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/agustin_coria09/" target="_blank" class="text-white fs-4"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>

    </div>
</div>