<!-- Contenedor principal que usa Flexbox -->
<div class="app-wrapper">
    <!-- Barra de navegación -->
    <app-navbar></app-navbar>

    <!-- Contenedor de contenido principal -->
    <div class="app-content d-flex justify-content-center align-items-center">
        <div class="col-md-12">
            <!-- Aquí se cargan los componentes según la ruta activa -->
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- Pie de página -->
    <app-footer></app-footer>
</div>