<div class="container py-5">
    <article>
      <section>
        <div class="d-flex justify-content-center mb-4">
          <h2>Educación</h2>
        </div>
        <ol class="list-group">
          <li class="list-group-item">
            <h4>Instituto de educación superior 9-021</h4>
            <span class="text-muted">2022 — 2024</span>
            <p class="mt-2">
              Tecnico superior en desarrollo de software: El Técnico Superior en Desarrollo de Software estará capacitado 
              para diseñar, construir, verificar, depurar, optimizar y mantener artefactos de software, reutilizando 
              elementos existentes o programándolos desde cero.
            </p>
          </li>
          <li class="list-group-item">
            <h4>Escuela 4-062 Prof. Juana B. Albornoz de Cortés</h4>
            <span class="text-muted">2012 — 2017</span>
            <p class="mt-2">
              Técnico en Industrias de Proceso: El tecnico en industrias de procesos esta capacitado para desempeñarse 
              en diversas áreas industriales, enfocándose en la operación, mantenimiento y optimización de procesos 
              productivos.
            </p>
          </li>
        </ol>
      </section>
      <section class="mt-5">
        <div class="d-flex justify-content-center mb-4">
          <h2>Mis habilidades</h2>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h5>Java</h5>
              <span class="badge bg-primary">80%</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h5>Spring Boot</h5>
              <span class="badge bg-primary">70%</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h5>Javascript</h5>
              <span class="badge bg-primary">50%</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h5>HTML</h5>
              <span class="badge bg-primary">70%</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h5>CSS</h5>
              <span class="badge bg-primary">60%</span>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex justify-content-between">
              <h5>SQL</h5>
            </div>
          </li>
        </ul>
      </section>
    </article>
  </div>